:root {
  --yellow: #B58500;
  --violet: #440099;
}

*, *:before, *:after {
  box-sizing: inherit;
}

* {
  margin: 0px;
  padding: 0px;
}
body, html {
  font-family: 'Open Sans', sans-serif;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.violet {
  color: var(--violet);
  background-color: var(--violet);
}



.yellow {
  color: var(--yellow);
  background-color: var(--yellow);
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100vw;
}

.relative {
  position: relative;
}

.wrap {
  flex-wrap: wrap;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex-row {
  display: flex;
  flex-direction: row;
}


